absl-py==2.1.0
accelerate==1.6.0
ada-boost==0.0.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiohttp-retry==2.9.1
aioice==0.10.1
aioredis==2.0.1
aiortc==1.11.0
aiosignal==1.3.2
aiosmtplib==3.0.2
alembic==1.4.3
altair==5.4.1
altgraph==0.17.4
amqp==5.3.1
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.6.0
apispec==6.6.1
apispec-webframeworks==1.1.0
appdirs==1.4.4
APScheduler==3.11.0
arabic-reshaper==3.0.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
astroid==2.4.2
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
attmap==0.13.2
attrs==24.2.0
audioread==3.0.1
autobahn==24.4.2
Automat==24.8.1
autopep8==2.3.2
autoslug==1.0.5
av==14.2.0
babel==2.17.0
backoff==2.2.1
banks==2.1.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.1
binaryornot==0.4.4
bitarray==3.5.0
bitstring==4.3.1
blinker==1.8.2
blis==0.7.11
boto3==1.34.113
botocore==1.34.162
breadability==0.1.20
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
cachelib==0.13.0
cachetools==5.5.0
catalogue==2.0.10
cchardet==2.1.7
celery==5.5.3
certifi==2024.8.30
cffi==1.17.1
channels==4.2.2
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.3.2
ChatterBot==1.2.6
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.16.0
cloudpickle==3.1.0
colorama==0.4.3
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
ConfigArgParse==1.7.1
constantly==23.10.4
contourpy==1.3.0
cookiecutter==2.6.0
cpython-lldb @ file:///home/spyder/Downloads/Python/cpython_lldb-0.3.2-py2.py3-none-any.whl#sha256=990fc6a66134ae7e1fda1eb794a17eed3e71d1f0e77ad8b86474ca1ecdb1fc8b
crayons==0.4.0
cron-descriptor==1.4.5
cryptography==44.0.2
cs50==9.4.0
cssselect==1.2.0
cssselect2==0.8.0
csvw==3.5.1
ctranslate2==4.6.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
daphne==4.2.0
dataclasses-json==0.6.7
datasets==3.5.0
debugpy==1.8.6
decorator==5.1.1
deepdiff==7.0.1
deepface==0.0.93
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.9
distro==1.9.0
Django==4.2.5
django-autoslug==1.9.9
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-dirtyfields==1.9.7
django-elasticsearch-dsl==8.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-phonenumber-field==8.1.0
django-redis==5.4.0
django-silk==5.4.0
django-simple-history==3.8.0
django-storages==1.14.6
django-timezone-field==7.1
django-versatileimagefield==3.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dlib==19.24.6
dlinfo==2.0.0
dnspython==2.0.0
docopt==0.6.2
docstring_parser==0.16
docutils==0.21.2
drf-yasg==1.21.10
durationpy==0.9
ecdsa==0.19.1
eido==0.2.4
elastic-transport==8.17.1
elasticsearch==8.18.1
elasticsearch-dsl==8.18.0
email_validator==2.2.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/New/entrypoints-0.4-py3-none-any.whl#sha256=f174b5ff827504fd3cd97cc3f8649f3693f51538c7e4bdf3ef002c8429d42f9f
esptool==5.0.0
et-xmlfile==1.1.0
eval_type_backport==0.2.2
executing==2.1.0
face_recognition==1.4.0
face_recognition_models==0.3.0
fake-useragent==2.0.3
fastapi==0.115.12
fastapi-cli==0.0.7
fastapi-mail==1.5.0
faster-whisper==1.1.1
fastjsonschema==2.20.0
fastrtc==0.0.29
ffmpeg==1.4
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
Flask==3.0.0
Flask-BasicAuth==0.2.0
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==2.5.3
Flask-MySQLdb==2.0.0
Flask-RESTful==0.3.10
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.1.21
flet==0.24.1
flet-core==0.24.1
flet-runtime==0.24.1
fonttools==4.54.1
fpdf==1.7.2
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.9.0
funcchain==0.3.6
gast==0.6.0
gdown==5.2.0
gensim==4.3.3
gevent==24.11.1
gevent-websocket==0.10.1
geventhttpclient==2.3.3
ghp-import==2.1.0
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
google==3.0.0
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-crc32c==1.7.1
google-pasta==0.2.0
googleapis-common-protos==1.68.0
gprof2dot==2025.4.14
gradio==5.23.3
gradio_client==1.8.0
greenlet==3.1.1
griffe==1.7.2
groovy==0.1.2
groq==0.28.0
grpcio==1.69.0
gTTS==2.5.4
gunicorn==20.0.4
h11==0.14.0
h2==4.2.0
h5py==3.12.1
hiredis==3.2.1
hpack==4.1.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx @ file:///home/spyder/Downloads/Python/online/httpx-0.27.2-py3-none-any.whl#sha256=7bb2708e112d8fdd7829cd4243970f0c223274051cb35ee80c03301ee29a3df0
httpx-sse==0.4.0
huggingface-hub==0.30.1
humanfriendly==10.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==2.10
ifaddr==0.2.0
imageio==2.36.0
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.5.2
incremental==24.7.2
inflection==0.5.1
intelhex==2.3.0
ipykernel==6.29.5
ipython @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/Installed/ipython-8.28.0-py3-none-any.whl#sha256=530ef1e7bb693724d3cdc37287c80b07ad9b25986c007a53aa1857272dac3f35
isodate==0.7.2
isort==5.5.3
itsdangerous==2.2.0
jax==0.5.3
jaxlib==0.5.3
jedi==0.19.1
Jinja2==3.1.6
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.10.0
keras-models==0.0.7
keyboard==0.13.5
Kivy @ file:///home/spyder/Downloads/Python/New%20folder/Kivy-2.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=6672959894f652856d1dfcbcdcc09263de5f1cbed768b997dc8dcecab4385a4f
Kivy-examples @ file:///home/spyder/Downloads/Python/New%20folder/Kivy_examples-2.3.0-py2.py3-none-any.whl#sha256=ad24f8c4963595d7ec759822d3bddb1b6f328085964ce338afb17eb2b24c8a21
Kivy-Garden==0.1.5
kivy-garden.qrcode @ file:///home/spyder/Downloads/Python/New%20folder/kivy_garden.qrcode-2021.314-py3-none-any.whl#sha256=3735f39179b7af1b9c909769f514dca96cc2d1b4ef84f0863c98443fb0e402dd
kivymd @ file:///home/spyder/Downloads/Python/New%20folder/kivymd-1.2.0.tar.gz#sha256=2d33e2c59259998e93aee55acde647a4a20e5a0f962469db24ee4c9ec586962e
kiwisolver==1.4.7
kombu==5.5.4
kthread==0.2.3
kubernetes==32.0.1
langchain==0.3.19
langchain-chroma==0.2.2
langchain-community==0.3.18
langchain-core==0.3.48
langchain-ollama==0.3.0
langchain-openai==0.2.14
langchain-text-splitters==0.3.6
langcodes==3.5.0
langgraph==0.3.30
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.2.4
language-tags==1.2.0
language_data==1.3.0
lazy-object-proxy==1.4.3
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
lime==0.2.0.1
llama-cloud==0.1.17
llama-cloud-services==0.6.9
llama-index==0.12.28
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.1
llama-index-core==0.12.28
llama-index-embeddings-langchain==0.3.0
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-llms-huggingface==0.4.2
llama-index-llms-openai==0.3.30
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.7
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.4.post1
llvmlite==0.43.0
locust==2.37.7
locust-cloud==1.23.0
logmuse==0.2.8
lxml==5.4.0
lz4==4.4.3
Mako==1.1.3
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.21.2
mathparse==0.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.6.1
mdurl==0.1.2
mediapipe==0.10.21
mergedeep==1.3.4
mindsdb_sdk==3.4.2
mindsdb_sql_parser==0.0.2
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
ml-dtypes==0.4.1
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
mtcnn==1.0.0
multidict==6.1.0
multiprocess==0.70.16
munch==4.0.0
murmurhash==1.0.12
mypy-extensions==1.0.0
mysql==0.0.3
mysqlclient==2.2.7
Naked==0.1.32
namex==0.0.8
narwhals==1.9.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
ollama==0.4.7
onnx==1.17.0
onnxruntime==1.20.1
openai==1.97.1
openai-whisper==20240930
opencv-contrib-python==4.11.0.86
opencv-face-recognition @ file:///home/spyder/Downloads/Python/New%20folder/opencv_face_recognition-1.1.1-py3-none-any.whl#sha256=f28685119420f79bdaf8841c94b5d236c334191c5bba91c9bc542c77334df27b
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
opencv_contrib-4.10.0 @ file:///home/spyder/Downloads/Python/New%20folder/opencv_contrib_4.10.0-4.10.0-py3-none-any.whl#sha256=9f0c06fc72ad10bab6142a9a39e06f89bc6c51ae1c99cc66503027fd6e63ee4f
openpyxl==3.1.2
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
opt_einsum==3.4.0
optree==0.14.0
ordered-set==4.1.0
orjson==3.10.12
ormsgpack==1.9.1
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.7.0
oyaml==1.0
packaging==23.2
pandas==2.2.2
parse==1.20.2
parso==0.8.4
passlib==1.7.4
pathlib==1.0.1
pathspec==0.12.1
pdfminer.six==20231228
pdfplumber==0.11.0
pephubclient==0.4.5
peppy==0.40.7
pexpect==4.9.0
phonemizer==3.3.0
phonenumbers==9.0.6
piexif==1.1.3
pillow==11.2.1
piper-tts==1.3.0
pipestat==0.12.1
platformdirs==4.3.7
plotly @ file:///home/spyder/Downloads/Python/online/plotly-5.24.1-py3-none-any.whl#sha256=f67073a1e637eb0dc3e46324d9d51e2fe76e9727c892dde64ddf1e1b51f29089
polars @ file:///home/spyder/Downloads/Python/New%20folder/polars-1.9.0-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=f85f132732aa63c6f3b502b0fdfc3ba9f0b78cc6330059b5a2d6f9fd78508acb
polars_nltk @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/Offline/polars_nltk-0.2.2-cp38-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=087c646f0a61b171064d4dc16630f3b2b6bcea37657308c7411df074d6e31ff1
pooch==1.8.2
portalocker==3.2.0
posthog==3.18.0
preshed==3.0.9
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.26.1
protobuf==4.25.6
psutil==6.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycodestyle==2.13.0
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.11.7
pydantic-settings==2.7.0
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
pyfiglet==1.0.2
pygame==2.6.1
Pygments==2.18.0
pyHanko==0.29.0
pyhanko-certvalidator==0.27.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2024.9
PyJWT==2.9.0
pylibsrtp==0.11.0
pylint==2.6.0
pymongo==4.7.2
PyMuPDF==1.25.5
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyparsing==3.1.4
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.1
PyPika==0.48.9
pypng==0.20220715.0
pyppeteer==2.0.0
pyproject_hooks==1.2.0
pyquery==2.0.1
pyserial==3.5
PySide6 @ file:///home/spyder/Downloads/Python/PySide6-6.8.0-cp39-abi3-manylinux_2_28_x86_64.whl#sha256=c0cca7dbea891b4d342318cf21a4be17e111e9856c4c8dbd8c5966d4249d3778
PySide6_Addons==6.8.0
PySide6_Essentials @ file:///home/spyder/Downloads/Python/PySide6_Essentials-6.8.0-cp39-abi3-manylinux_2_28_x86_64.whl#sha256=da99a94806416ec1e386426a474e7d1e514c1cdf8ad171c005376f4f633e7216
PySide6_Examples @ file:///home/spyder/Downloads/Python/PySide6_Examples-6.8.0-cp39-abi3-manylinux_2_28_x86_64.whl#sha256=dd6dc52f24baf0a3b14c71c0fa9848300231b71316884c6cd09b41de3d996a70
PySocks==1.7.1
python-bidi==0.6.6
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
python-editor==1.0.4
python-engineio==4.11.1
python-jose==3.5.0
python-magic==0.4.27
python-multipart==0.0.20
python-slugify==8.0.4
python-socketio==5.13.0
pyttsx3 @ file:///home/spyder/Downloads/Python/pyttsx3-2.98-py3-none-any.whl#sha256=b3fb4ca4d5ae4f8e6836d6b37bf5fee0fd51d157ffa27fb9064be6e7be3da37a
pytz==2024.1
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzbar @ file:///home/spyder/Downloads/Python/New%20folder/pyzbar-0.1.9-py2.py3-none-any.whl#sha256=4559628b8192feb25766d954b36a3753baaf5c97c03135aec7e4a026036b475d
pyzmq==26.2.0
qdrant-client==1.15.0
qrcode==7.4.2
razorpay==1.4.2
rdflib==7.1.4
redis==6.2.0
reedsolo==1.7.0
referencing==0.35.1
regex==2024.9.11
repath==0.9.0
reportlab==4.4.1
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retina-face==0.0.17
rfc3986==1.5.0
rich==13.9.2
rich-click==1.8.9
rich-toolkit==0.14.6
roundrobin==0.0.4
rpds-py==0.20.0
rsa==4.9
ruff==0.11.3
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
segments==2.3.0
selenium==4.27.1
semantic-version==2.10.0
sentence-transformers==4.0.1
sentencepiece==0.2.0
service-identity==24.2.0
setuptools==75.1.0
setuptools-rust==1.11.1
shap==0.46.0
shellescape==3.8.1
shellingham==1.5.4
shiboken6==6.8.0
simple-websocket==1.0.0
simple_webbrowser @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/Offline/simple_webbrowser-0.2.2-py3-none-any.whl#sha256=ecc5d1a4435f5dbd96d4b9edf8101a7b01226a2ff233359c8549c323882b3637
simpleaudio==1.0.4
sip==6.8.6
six==1.16.0
slicer==0.0.8
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
snscrape==0.7.0.20230622
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.3
SQLAlchemy==2.0.41
SQLite3-0611 @ file:///home/spyder/Downloads/Python/New%20folder/SQLite3_0611-0.0.1-py3-none-any.whl#sha256=99d3662f418e5c1a1b81b5486d829eb511e5aee329cf31df945218d2a5b4b324
sqlparse==0.5.1
srsly==2.5.1
srt==3.5.3
sseclient-py==1.8.0
sslcommerz-lib==1.0
stack-data==0.6.3
starlette==0.46.1
stegano @ file:///home/spyder/Downloads/Python/online/stegano-0.11.4-py3-none-any.whl#sha256=694ef47d4c9fc18bf7ad407e1b9f359d67817d5bb4c0d60fd03b57c65dfc9901
streamlit==1.47.1
streamlit-chat==0.1.1
streamlit-option-menu==0.4.0
streamlit-webrtc==0.53.10
stripe==12.2.0
striprtf==0.0.26
sumy==0.11.0
svglib==1.5.1
sympy==1.13.1
tabulate @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/Offline/tabulate-0.9.0-py3-none-any.whl#sha256=024ca478df22e9340661486f85298cff5f6dcdba14f3813e8830015b9ed1948f
taipy==4.0.1
taipy-common==4.0.1
taipy-core==4.0.1
taipy-gui==4.0.1
taipy-rest==4.0.1
taipy-templates==4.0.1
talon==1.4.4
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow @ file:///home/spyder/Downloads/tensorflow-2.18.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=bfdd65ea7e064064283dd78d529dd621257ee617218f63681935fd15817c6286
termcolor==2.5.0
text-generation==0.7.0
text-unidecode==1.3
textblob==0.19.0
tf_keras==2.18.0
thinc==8.2.5
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2024.9.20
tiktoken==0.8.0
tinycss2==1.4.0
together==1.5.16
tokenizers==0.20.0
toml==0.10.1
tomlkit==0.13.2
toolz @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/New/toolz-1.0.0-py3-none-any.whl#sha256=292c8f1c4e7516bf9086f8850935c799a874039c8bcf959d47b600e4c44a6236
torch @ file:///home/spyder/Downloads/torch-2.6.0-cp312-cp312-manylinux1_x86_64.whl#sha256=2bb8987f3bb1ef2675897034402373ddfc8f5ef0e156e2d8cfc47cacafdda4a9
torchvision==0.21.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers @ file:///home/spyder/Downloads/Python/online/transformers-4.45.1-py3-none-any.whl#sha256=21e3f47aa7256dbbfb5215937a3168a984c94432ce3a16b7908265807d62aee8
trio==0.28.0
trio-websocket==0.11.1
triton==3.2.0
twilio==9.5.0
Twisted==24.7.0
txaio==23.1.1
typer==0.9.4
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tz==0.2.2
tzdata==2025.2
tzlocal==5.2
ubiquerg==0.8.1
ultralytics==8.3.86
ultralytics-thop==2.0.14
unicode-slugify==0.1.5
Unidecode==1.4.0
uritemplate==4.1.1
uritools==5.0.0
urllib3==1.26.20
uvicorn==0.32.0
uvloop==0.21.0
validators==0.20.0
vega-datasets @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/New/vega_datasets-0.9.0-py3-none-any.whl#sha256=3d7c63917be6ca9b154b565f4779a31fedce57b01b5b9d99d8a34a7608062a1d
vine==5.1.0
virtualenv==20.31.2
vosk==0.3.45
w3lib==2.2.1
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.1
wheel==0.45.1
whitenoise==6.9.0
widgetsnbextension==4.0.14
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
WTForms==2.3.3
x_x==0.9
xgboost @ file:///mnt/38F24D2CF24CF024/Backup/Linux/Python/xgboost-2.1.1-py3-none-manylinux2014_x86_64.whl#sha256=deef471e8d353afa99e5cc0e2af7d99ace7013f40684fcf3eed9124de033265d
xhtml2pdf==0.2.17
xlrd==2.0.1
xxhash==3.5.0
yacman==0.9.3
yarl==1.18.3
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
